trigger:
- master
- azure-pipelines

pool:
 vmImage: 'ubuntu-latest'
 
variables:
  log_to_splunk: true

steps:
- task: NodeTool@0
  inputs:
    versionSpec: '14.x'
  displayName: 'Install Node.js'
  
- script: npm install
  displayName: npm install

- task: SonarCloudPrepare@1
  inputs:
    SonarCloud: 'SonarCloud'
    organization: 'nhsdigital'
    scannerMode: 'CLI'
    configMode: 'file'
    extraProperties: |
      sonar.javascript.lcov.reportPaths=coverage/lcov.info
      sonar.language=js
      sonar.projectKey=nhsuk-cookie-consent
      sonar.dependencyCheck.htmlReportPath=$(System.DefaultWorkingDirectory)/dependency-scan-results/dependency-check-report.html
      sonar.exclusions=**/*.config.js,/coverage/**,**/integration-tests/,**/tests/example/,**/*.test.*,__mocks__/**,*test-environment.*,**/dependency-scan-results/dependency-check-report.html,node_modules/**

- script: npm run build:production
  displayName: 'build'

- script: npm run lint
  displayName: linting

- script: CI=true npm run test
  displayName: testing

- task: dependency-check-build-task@6
  displayName: 'Run OWASP Dependency Check'
  inputs:
    projectName: 'cookie-consent'
    scanPath: '$(Build.SourcesDirectory)'
    format: 'HTML, JUNIT'
    reportsDirectory: '$(System.DefaultWorkingDirectory)/dependency-scan-results'

- task: PublishTestResults@2
  displayName: 'Publish OWASP Dependency Check Results'
  inputs:
    testResultsFormat: 'JUnit'
    testResultsFiles: '$(System.DefaultWorkingDirectory)/dependency-scan-results/*junit.xml'
    testRunTitle: 'Dependency check'
    searchFolder: '$(Common.TestResultsDirectory)'

- task: SonarCloudAnalyze@1
  displayName: 'Run SonarCloud Code Analysis'

- task: SonarCloudPublish@1
  displayName: 'Publish Quality Gate Result'

- task: sonarcloud-buildbreaker@2
  displayName: "Break the build if the quality gate fails"
  inputs:
    SonarCloud: 'SonarCloud'
    organization: 'nhsdigital'

- task: CopyFiles@2
  inputs:
    sourceFolder: $(Build.SourcesDirectory)/dist
    targetFolder: $(Build.ArtifactStagingDirectory)

- task: PublishBuildArtifacts@1
  inputs:
    pathtoPublish: $(Build.ArtifactStagingDirectory)
    artifactName: dist
