.nhsuk-success-banner {
  background-color: $color_nhsuk-white;
  color: $color_nhsuk-black;
  position: relative;
  @include nhsuk-responsive-padding(4, 'top');
  @include nhsuk-responsive-padding(4, 'bottom');

  p {
    margin: 0;
  }

  a,
  a:visited {
    color: $color_nhsuk-blue;
  }

  a:hover,
  a:focus {
    color: $color_nhsuk-black;
  }
}
