<div id="nhsuk-cookie-banner" data-nosnippet>
  <div class="nhsuk-cookie-banner" id="cookiebanner">
    <div class="nhsuk-width-container">
      <h2>Cookies on the NHS website</h2>
      <p>We use some cookies to make this website work.</p>
      <p>
        Help improve online NHS services by also accepting analytics cookies.
      </p>
      <p>
        Your choice will be remembered for other online NHS services, such as
        the NHS App.
      </p>

      <ul>
        <li>
          <button
            class="nhsuk-button"
            id="nhsuk-cookie-banner__link_accept_analytics"
            href="#"
          >
            Accept analytics cookies
          </button>
        </li>
        <li>
          <button
            class="nhsuk-button"
            id="nhsuk-cookie-banner__link_accept"
            href="#"
          >
            Reject analytics cookies
          </button>
        </li>
        <li>
          <a
            id="nhsuk-cookie-banner__link"
            href="<%= require('./settings.js').getPolicyUrl() %>"
            >More information about our cookies</a
          >
        </li>
      </ul>
    </div>
  </div>

  <div
    class="nhsuk-success-banner"
    id="nhsuk-cookie-confirmation-banner"
    style="display: none"
  >
    <div class="nhsuk-width-container">
      <p id="nhsuk-success-banner__message">
        Change your cookie settings at any time using our
        <a href="<%= require('./settings.js').getPolicyUrl() %>"
          >cookie settings page</a
        >.
      </p>
    </div>
  </div>
</div>
