.nhsuk-cookie-banner{background:#fff;top:0;box-shadow:0 -4px 0 0 black;margin:0 auto;padding:32px 0;position:fixed;width:100%;z-index:2}
@media print{.nhsuk-cookie-banner{display:none}}
@media (max-width:40.0525em){.nhsuk-cookie-banner{padding:24px 0}}.nhsuk-cookie-banner__content{position:relative}.nhsuk-cookie-banner__content:after{clear:both;content:'';display:block}
.nhsuk-cookie-banner .wrap{white-space:nowrap}